body {
    height: 100vh;

}

a {
    text-decoration: none!important;
    color: black;
}

.main {
    background-image: url(billboard.png);
    background-repeat: no-repeat;
    background-size: 20% 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    border: blue dashed;
    color: blue;
    line-height: 10vh;
}

category{
    width: 20vw;
    border: red dashed;
    float: left;    
}

.write{
    width: 65vw;
    border: pink dashed;
    float: left;
}

/* .write2{
    border: yellow dashed;
    align-items: center;
    justify-content: center;
    float: left
} */

.right_sidebar {
    width: 10vw;
    border: black dashed;
    float: right;
    position: sticky;
    right: 0;
    top: 20vh;
}

.under{
    float: right;
    width: 5px;
}