body {
    height: 100vh;
}

.main {
    background-image: url(billboard.png);
    background-size: 100vw 10vh;
    height: 10vh;
    display: flex;
    justify-content: center;
    border: blue dashed;
}

category{
    width: 20vw;
    border: red dashed;
    float: left;
}

.write{
    width: 65vw;
    border: pink dashed;
    float: left;
}


.right_sidebar {
    width: 10vw;
    border: black dashed;
    float: right;
    position: sticky;
    right: 0;
    top: 15vh;
}

.under{
    float: right;
    width: 5px;
}